/* Background Images */
.header .search input[type='submit'], .content .cover .icon, .content .list .action .icon, .content .list .favorite, .content .list .download {
	background: url(../images/icons.png) no-repeat;
}

/* /Background Images */
body, input, a {
	font: normal normal 16px/1.4 Arial, Helvetica, sans-serif;
	color: #666;
}
body {
	margin: 0;
}
.trevx-chrome-popup {
	width: 601px;
	height: 430px;
	position: relative;
	border: 2px solid #dd4433;
	border-width: 0 2px 2px 2px;
	background-color: #fff;
}
.header {
	height: 30px;
	overflow: hidden;
	padding: 10px 8px;
	background-color: #dd4433;
}
.header .logo {
	float: left;
	margin-right: 15px;
	padding-top: 4px;
}
.header .sep {
	width: 1px;
	height: 18px;
	float: left;
	display: block;
	margin: 6px 15px 0 0;
	border-right: 1px solid #fff;
}
.header .search {
	float: left;
}
.header .search input[type='text'] {
	width: 455px;
	height: 20px;
	float: left;
	padding: 5px 0;
	border: 0 none;
	outline: none;
	background: none;
	color: #fff;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #dd4433 inset;
}
::-webkit-input-placeholder {
 color: #fff;
 opacity:0.5;
}
.header .search input[type='text'].required {
	margin-bottom: 1px;
	border-bottom: 1px solid #ed9c93 !important;
}
.header .search input[type='submit'] {
	width: 30px;
	height: 30px;
	float: left;
	border: 0 none;
	outline: none;
	background-position: -55px -30px;
}
.header .search input[type='submit']:hover {
	background-position: -55px -62px;
}
.header .search input[type='submit']:hover {
	cursor: pointer;
}
.content {
	overflow: hidden;
}
.content .cover {
	width: 260px;
	height: 280px;
	display: block;
	position: absolute;
	top: 50px;
	bottom: 0;
	padding: 100px 20px 0;
	background-color: #fff;
	text-align: center;
	text-decoration: none;
	z-index: 999;
}
.content .cover p {
	color: #999;
}
.content .cover .icon {
	width: 22px;
	height: 22px;
	display: block;
	margin: auto;
}
.content .cover .icon.search {
	background-position: -56px -96px;
}
.content .cover .icon.favorite {
	background-position: -32px 0;
}
.content .cover:hover .icon.search {
	background-position: -24px -96px;
}
.content .cover:hover .icon.favorite {
	background-position: -56px 0;
}
.content .results-cover, .results-list {
	border-right: 1px solid #bbb;
	box-shadow: 2px 0 5px -2px #bbb;
}
.content .results-cover {
	left: 0;
	z-index: 9999;
}
.content .favorite-cover {
	left: 301px;
	right: 0;
}
.content .list {
	width: 296px;
	height: 380px;
	overflow: auto;
	margin: 0;
	padding: 0 2px;
	list-style-type: none;
}
.content .results-list {
	float: left;
}
.content .favorites-list {
	float: right;
}
.content .list li {
	overflow: hidden;
	padding: 10px 5px;
	border-bottom: 1px solid #dedede;
}
.content .list li:hover {
	background-color: #ededed;
}
.content .list a {
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
	text-decoration: none;
}
.content .list .title {
	width: 170px;
	font-size: 14px;
}
.content .list .action {
	position: relative;
}
.content .list .action img {
	border-radius: 100%;
}
.content .list .action .icon {
	width: 22px;
	height: 25px;
	display: block;
	position: absolute;
	top: 8px;
	left: 9px;
}
.content .list .action .play {
	background-position: 0 0;
}
.content .list .action .pause {
	background-position: 0 -34px;
}
.content .list .favorite {
	width: 22px;
	height: 22px;
	float: right;
	display: block;
	background-position: -32px 0;
}
.content .list .favorite:hover, .content .list .favorite.active {
	background-position: -56px 0;
}
.content .list .download {
	width: 24px;
	height: 24px;
	float: right;
	display: block;
	margin-right: 0;
	background-position: 0 -68px;
}
.content .list .remove {
	width: 13px;
	height: 24px;
	float: right;
	display: block;
	margin-right: 0;
	font-size: 12px;
	text-align: right;
	color: #999;
}
.loading {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 301px;
	padding: 160px 0 0;
	background-color: #fff;
	text-align: center;
	z-index: 9999;
}
.msg {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 180px 0 0;
	background-color: #fff;
	text-align: center;
	z-index: 9999;
}
.no-result {
	border-bottom: 0 none !important;
}
.no-result:hover {
	background: none !important;
}
/* Scrollbar Style */
::-webkit-scrollbar {
 width: 7px;
}
::-webkit-scrollbar-track {
 background-color:#fff;
}
::-webkit-scrollbar-thumb {
 background-color:#bbb;
}
/* /Scrollbar Style */


/*.inactiveLink {
   pointer-events: none;
   cursor: default;
}*/

.hidden {
	display: none;
}



/*by mohd*/

.results-list li .title:hover, .favorites-list li .title:hover{
	cursor:pointer;
}

.ui-autocomplete{
	position: absolute;
	top: 24px;
	left: 106px;
	width: 270px;
	background-color: rgb(255, 255, 255);
}

.ui-menu-item {
	/*position: relative;*/
	list-style-type: none;
	 /*z-index: 3;*/
}

.ui-state-focus
{
    background:#dedede;
    outline:none;
}
/*when mouse hover the suggestion result list a message will printed */
/*dont display this message*/
.ui-helper-hidden-accessible:last-child{
	display: none;
}

/*@font-face {
    font-family:"Prociono";
    src: url("../font/Prociono-Regular-webfont.ttf");
}
html {
    overflow-y: scroll;
}
.container {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
}
.tt-dropdown-menu, .gist {
    text-align: left;
}
html {
    color: #333333;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
}
.title, .example-name {
    font-family: Prociono;
}
p {
    margin: 0 0 10px;
}
.title {
    font-size: 64px;
    margin: 20px 0 0;
}
.example {
    padding: 30px 0;
}
.example-name {
    font-size: 32px;
    margin: 20px 0;
}
.demo {
    margin: 50px 0;
    position: relative;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
.example-twitter-oss .tt-suggestion {
    padding: 8px 20px;
}
.example-twitter-oss .tt-suggestion + .tt-suggestion {
    border-top: 1px solid #CCCCCC;
}
.example-twitter-oss .repo-language {
    float: right;
    font-style: italic;
}
.example-twitter-oss .repo-name {
    font-weight: bold;
}
.example-twitter-oss .repo-description {
    font-size: 14px;
}
.example-sports .league-name {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 20px 5px;
    padding: 3px 0;
}
.example-arabic .tt-dropdown-menu {
    text-align: right;
}*/
